@font-face {
	font-family: "Sarpanch-SemiBold";
	src:url("font/Sarpanch-SemiBold.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
	margin: 0;
	padding: 0;
	height: 100vh;
}

a {
	text-decoration: none;
}

#particles-js {
	height: 100%;
	background-color: #000;
}
.user_name {
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-family: Sarpanch-SemiBold;
	font-weight: 300;
	font-size: 4em;
	letter-spacing: 0.8em;
	color: #fff;
	opacity: 1;
}
.user_name span {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	width: 100%;
}

.btn {
	position: absolute;
	top: 80%;
	left: calc(52% - 5px);
	transform: translate(-70%, -70%);
}

button {
	margin-top: 30px;
	background: none;
	color: #ccc;
	width: 260px;
	height: 80px;
	border: 1px solid #338033;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
	font-family: Sarpanch-SemiBold;
}

button:focus {
	outline: none;
}

button:before {
	display: block;
	position: relative;
	background: rgba(255,255,255,.5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}

button:after {
	display: block;
	position: relative;
	background: rgba(255,255,255,.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}

button:hover {
	background: #338033;
	cursor: pointer;
}

button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}

button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}

button.av_link {
	border: 1px solid #ff0000;
}

button.av_link * {
	color: #ccc;
}

button.av_link::after {
	top: 90px;
	left: 30px;
}

button.av_link:hover {
	background: #ff0000;
}