@font-face {
	font-family: "Sarpanch-SemiBold";
	src:url("font/Sarpanch-SemiBold.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#particles-js {
	height: 100%;
	background-color: #000;
}

.fly-in-text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right: 50px;
	font-family: Sarpanch-SemiBold;
	font-weight: 300;
	font-size: 4em;
	color: #fff;
	opacity: 1;
	transition: all 2.5s ease;
}

.fly-in-text li:last-child {
	margin-right: 0;
}

.text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
}

.text li {
	display: inline-block;
	margin-right: 50px;
	font-family: Sarpanch-SemiBold;
	font-weight: 300;
	font-size: 4em;
	color: #fff;
	opacity: 1;
	transition: all 2.5s ease;
}

.text li:last-child {
	margin-right: 0;
}

.text.hidden li {
	opacity: 0;
}

.text1 {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.text1 li {
	display: inline-block;
	margin-right: 50px;
	font-family: Sarpanch-SemiBold;
	font-weight: 300;
	font-size: 4em;
	color: #fff;
	opacity: 1;
	transition: all 2.5s ease;
}

.text1 li:last-child {
	margin-right: 0;
}

.text1.hidden li {
	opacity: 0;
}

button {
	position: absolute;
	top: 70%;
	left: 53%;
	transform: translate(-70%, -70%);
}

button {
	background: none;
	color: #ccc;
	width: 235px;
	height: 80px;
	border: 1px solid #338033;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow: hidden;
	font-family: Sarpanch-SemiBold;
}

button:focus {
	outline: none;
}

button:before {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}

button:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}

button:hover {
	background: #338033;
	cursor: pointer;
}

button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}

button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}